@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import "bootstrap.css";

$font-family-main: 'Asap', sans-serif;

.d-flex {
  display: flex;
}

@mixin h3() {
  font-family: $font-family-main;
  font-size: 46px;
  color: #717171;
  font-weight: 700;
  letter-spacing: 10px;
}

@mixin p() {
  font-family: $font-family-main;
  font-weight: 400;
}

@mixin btn() {
  font-size: 16px;
  line-height: 1rem;
  border-radius: 0;
  color: #4d4d4d;
  font-weight: 500;
  border: 1px solid #4d4d4d;
  padding: 19px 0 17px;
}

.main {
  background-image: url('../images/bg-first_01.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  header {
    padding-top: 31px;


    nav {
      display: flex;

      ul {
        li {
          margin-left: 40px;
        }

        a {
          font-family: $font-family-main;
          font-weight: 400;
          color: #4d4d4d;
          font-size: 16px;
          border-bottom: 2px solid rgba(0, 0, 0, 0);

          &:hover {
            border-bottom: 2px solid #c8c8c8;
          }
        }
      }
    }
  }

  h1 {
    font-size: 90px;
    font-family: $font-family-main;
    font-weight: 700;
    margin-top: 30%;
    margin-bottom: 4px;
    color: #4d4d4d;
  }

  p {
    @include p;
    font-size: 22px;
    margin-bottom: 28px;
    color: #909090;
  }

  .btn {
    @include btn;
    width: 160px;
    margin-right: 20px;

    &:hover {
      background-color: #fff;
      color: #4d4d4d;
      border: 1px solid #fff;
      -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
      box-shadow: 3px 3px 20px 0 #c8c8c8;
    }
  }
}

.about {
  padding: 110px 0 124px;

  h3 {
    @include h3;
    margin: 69px 0 14px;
    line-height: 50px;

    &:before {
      content: "";
      display: block;
      background-color: #717171;
      width: 60px;
      height: 4px;
      margin-bottom: 19px;
    }
  }

  p {
    @include p;
    color: #4d4d4d;
    font-size: 16px;
    margin-bottom: 36px;
  }

  .btn {
    @include btn;
    width: 245px;

    &:hover {
      background-color: #fff;
      color: #4d4d4d;
      border: 1px solid #fff;
      -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
      box-shadow: 3px 3px 20px 0 #c8c8c8;
    }
  }
}

.servises {
  background-color: #f6f6f6;
  padding: 119px 0 144px;

  h3 {
    @include h3;
    margin: 69px 0 14px;
    line-height: 50px;

    &:before {
      content: "";
      display: block;

      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px;
    }
  }

  .row {
    .top{
      margin-bottom: 79px;
    }


    img {
      display: block;
      margin: 0 auto 0;
    }

    @include p;
    font-size: 24px;
    color: #4d4d4d;
    margin-bottom: 16px;
  }
}

.skills{
  padding: 117px 0 127px;
  .numbers{
    margin-top: -12px;
    padding-left: 30px;
    p{
      margin-bottom: 48px;
    }
  }


  h3 {
    @include h3;
    margin-bottom: 62px;
    line-height: 50px;

    &:before {
      content: "";
      display: block;

      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px;
    }
  }
  .graph{
    -webkit-box-shadow: 3px 3px 20px 0 #c8c8c8;
    box-shadow: 3px 3px 20px 0 #c8c8c8;
    margin-bottom: 15px;
  }
  .d-flex{
    max-width: 680px;
    margin: auto;
  }
}
.portfolio{
  padding: 126px 123px;
  background-color: #f6f6f6;
  h3 {
    @include h3;
    margin-bottom: 62px;
    line-height: 50px;

    &:before {
      content: "";
      display: block;

      background-color: #717171;
      width: 60px;
      height: 4px;
      margin: 0 auto 19px;
    }
  }
  .isotope-item{
    margin-bottom: 30px;
  }
}